div {
    position: absolute;
}

/*Cartas a la izquierda*/

.ejemplo1 #diez_de_diamantes{
    top: 100px;
    left: 50px;
    z-index: 1;
}

.ejemplo1 #sota_de_diamantes{
    top: 120px;
    left: 70px;
    z-index: 5;
}

.ejemplo1 #reina_de_diamantes{
    top:140px;
    left: 85px;
    z-index: 10;
}

.ejemplo1 #rey_de_diamantes{
    top: 160px;
    left:100px;
    z-index: 15;
}

.ejemplo1 #as_de_diamantes {
    top: 180px;
    left: 115px;
    z-index: 20;
}

/*Cartas a la derecha*/

.ejemplo2 #diez_de_diamantes {
    right: 110px;
    top: 100px;
    z-index: 50;
}

.ejemplo2 #sota_de_diamantes {
    right: 95px;
    top: 115px;
    z-index: 40;
}

.ejemplo2 #reina_de_diamantes {
    right: 80px;
    top: 130px;
    z-index: 30;
}

.ejemplo2 #rey_de_diamantes {
    right: 65px;
    top: 145px;
    z-index: 20;

}

.ejemplo2 #as_de_diamantes {
    right: 50px;
    top: 160px;
    z-index: 10;
}